
<form action="" method="post">
    <div class="form-row">
        {% csrf_token %}
        <div class="form-group col-md-6 mb-0">
            <legend class="border-bottom-mb-4">Log In:</legend>
            <!-- {{form.as_p}}  tenajem héthi wala -->

            <label>login</label> {{form.username}}
            <label>password</label> {{form.password}}

            <button class="btn btn-outline-info" type="submit" >Login</button>
        </div>
</form>             

<p>dont have account ? </p> <a href="{% url 'signup' %}">sign up</a>